<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.cashbuddy">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.All.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.User.ScanActivity" />
        <activity
            android:name=".Activity.Merchant.MerchantMainActivity"
            android:label="@string/title_activity_merchant_main" />
        <activity
            android:name=".Activity.Admin.AdminMainActivity"
            android:label="@string/title_activity_admin_main" />
        <activity android:name=".Activity.User.MainActivity" />
        <activity android:name=".Activity.All.RegisterMainActivity" />
        <activity android:name=".Activity.User.RegisterUserActivity" />
        <activity android:name=".Activity.Merchant.RegisterMerchantActivity" />
        <activity android:name=".Activity.User.TopUpActivity" />
        <activity android:name=".Activity.User.TransferActivity" />
        <activity android:name=".Activity.All.NumberVerificationActivity"></activity>
    </application>

</manifest>