<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.cashbuddy">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.All.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.User.UserScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Merchant.MerchantMainActivity"
            android:label="@string/title_activity_merchant_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Admin.AdminMainActivity"
            android:label="@string/title_activity_admin_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.User.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.All.RegisterMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.User.UserRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Merchant.MerchantRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.User.UserTopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.User.UserTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.All.LoginVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Admin.AdminTopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Merchant.MerchantWithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.All.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.All.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Admin.AdminConfirmTopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Admin.AdminMerchantWithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Admin.AdminMerchantVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Merchant.MerchantProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.User.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.All.SecurityCodeVerificationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.All.ChangeSecurityCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.All.RegisterVerificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.All.ChangeSecurityCodeVerificationActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>